* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  appearance: none;
  cursor: pointer;
  &:active {
    scale: 0.98;
  }
  &:focus {
    outline: none;
  }
}

:is(button, input):focus {
  outline: none;
}

header {
  position: relative;
  padding: 100px 0;
  color: #fff;
  background: url('https://plus.unsplash.com/premium_photo-1682125853703-896a05629709?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  * {
    position: relative;
    z-index: 1;
  }
  h1 {
    margin: 0 0 30px;
    text-align: center;
  }
}

form {
  position: relative;
  width: min(500px, 100%);
  margin: auto;
  input {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    border: 0;
    border-radius: 50px;
  }
  button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 13px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #e056fd;
    border: 0;
    border-radius: 50px;
  }
}

.btn {
  padding: 4px 10px;
  color: #fff;
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
}

.songs {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    button {
      white-space: nowrap;
    }
  }
}

.container {
  margin: 30px auto;
  width: min(100%, 500px);
  h2 {
    font-weight: 300;
  }
  p {
    text-align: center;
  }
}

.centered {
  display: flex;
  justify-content: center;
  button {
    margin: 15px;
    scale: 1.3;
  }
}
